
<div class="form-group">
    <label for="usr">City:</label>
    @Html.DropDownList("ddlCity", (IEnumerable<SelectListItem>)ViewBag.stList, htmlAttributes: new { required = "", @class = "col-md-2 form-control" })
</div>
